@model Color
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Create Color</h4>
                        <form class="forms-sample" method="post" >
                            <div class="form-group">
                                <label asp-for="Name">Name</label>
                                <input asp-for="Name" type="text" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Count">Count</label>
                                <input asp-for="Count" type="text" class="form-control">
                                <span asp-validation-for="Count" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-light" asp-area="Manage" asp-controller="Color" asp-action="Index" >Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>